/* CSS Media Quries for 768px */

@media (max-width:768px) {
    .header {
        display: none;
    }
    .mobile-navbar {
        display: block;
    }
    .mobile-nav {
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 30px 12px;
    }
    .humburger i {
        color: #ffffff;
        font-size: 40px;
    }
    .mobile-navbar {
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 280px 0px 0px 0px;
        position: fixed;
        top: -1100px;
        background: url(../img/bg/footer.jpg)center;
        transition: all ease-in-out 0.7s;
        z-index: 1;
    }
    .mobile-navbar-toggler {
        position: fixed;
        top: 0;
    }
    .mobile-navbar>ul>li {
        font-size: 30px;
        margin: 30px 0px;
    }
    .mobile-navbar>ul>li>a {
        color: #ffffff;
    }
    #close-btn {
        padding: 12px;
        background-color: #FF4F01;
        border-radius: 5px;
    }
    /* About Us Media Quries */
    #about-us {
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 0px 0px;
    }
    .about-us-image .ourelect-img1 img {
        width: 435px;
        margin: 31px 0 0 0px;
    }
    .ourelect-img2 img {
        width: 304px;
        margin: -32% 0px 0 -4%;
    }
    .aboutus-body-sec {
        width: 370px;
        height: 100%;
        background: white;
        padding: 29px 10px 10px 25px;
        margin: 16% 0 0 -3%;
    }
    .aboutus-header .about-us-sub {
        font-size: 14px;
        font-weight: 600;
        color: #FF4F01;
        letter-spacing: 1px;
    }
    .aboutus-header .aboutus-title {
        font-size: 26px;
        font-weight: 600;
        margin: 10px 0 0px 0;
    }
    .about-us-txt .aboutus-para {
        font-size: 14px;
        font-weight: 400;
        color: grey;
        line-height: 1.8;
    }
    .aboutus-list .aboutus-list-item {
        font-size: 14px;
    }
    .aboutus-list .aboutus-list-item i {
        font-size: 14px;
        color: #FF4F01;
        margin-left: -30px;
        padding-right: 5px;
    }
    .ourelect-img img {
        width: 53px;
        border-radius: 50%;
    }
    .ourelect-into-txt {
        margin: 9px 0 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: .3;
    }
    .ourelect-into-txt .ourelect-name {
        font-size: 14px;
        font-weight: 500;
    }
    .ourelect-into-txt .ourelect-desig {
        font-size: 9px;
        font-weight: 600;
        color: grey;
    }
    .our-elect-sign img {
        width: 75px;
        margin: 16px 0 0 0;
        margin-left: 25px;
    }
    /* About Us Media Quries End */
    /* Our Services */
    .our-services-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 10px;
        text-align: center;
    }
    .our-services-cards {
        margin: 20px 0px 0 20px !important;
        display: flex !important;
        justify-content: center !important;
    }
    .service-card .card {
        width: 220px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 40px;
        border: none;
    }
    .service-card .card .card-img img {
        width: 60px;
    }
    .service-card .card .card-title {
        font-size: 21px;
        font-weight: 600;
        padding: 15px 0;
    }
    .service-card .card .card-para {
        font-size: 15px;
        font-weight: 400;
        color: rgb(37, 37, 37);
    }
    /* Our Services End */
    /* --===< service details >===-- */
    .service-det-container {
        padding: 50px 20px !important;
    }
    .induscon-img img {
        width: 730px;
    }
    /* --===< service details end >===-- */
    /* --==< Testimonial >==-- */
    .testi-container {
        padding: 80px 20px !important;
    }
    .slide-txt {
        padding: 50px 0px 0px 0px;
    }
    /* --==< Testimonial End >==-- */
    /* --==< Contact Us >==-- */
    .contact-form-haader .contact-form-title-01 {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 20px 0 5px 0;
    }
    .contact-form-haader .contact-form-title-02 {
        font-size: 50px;
        font-weight: 700;
        margin: 10px 0 5px 0;
    }
    .contact-form input {
        width: 350px !important;
        height: 85px;
        font-size: 16px;
        background: #F2F3F5;
        padding: 20px 40px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 720px !important;
        font-size: 16px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    .contact-htr {
        width: 100%;
        height: auto;
        background: #F9F9F9;
        padding: 5px 0px 5px 20px;
    }
    .address-contact,
    .email-contact,
    .phone-contact {
        padding: 40px 0px 40px 0px;
    }
    .contact-htr hr {
        width: 100%;
        background-color: #F9F9F9 !important;
    }
    .htr-social-icon {
        padding: 55px 0px;
    }
    /* --==< Contact Us >==-- */
    /* Footer */
    .footer-row {
        padding: 40px 10px 10px 10px !important;
    }
    .footer-intro {
        max-width: 100%;
        margin: 0 0 30px 0;
    }
    .quick-links {
        margin: 0 0 30px 0;
    }
    .footer-service-links {
        margin: 0 0 30px 0;
    }
    .footer-nav {
        margin: 20px 5px;
        background: rgba(101, 118, 170, 0.1);
        padding: 5px 10px;
        display: flex;
        align-items: center;
    }
    .footer-nav-menu {
        max-width: 900px;
    }
    .copyr-footer {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    .copyr-links {
        display: flex;
        justify-content: center;
    }
    /* Footer End */
}


/* Media Quries For 540px */

@media(max-width:540px) {
    /* --==< Nav  >==-- */
    .mobile-navbar {
        padding: 90px 0px 0px 0px;
    }
    .mobile-navbar>ul>li {
        font-size: 20px;
        margin: 20px 0px;
    }
    /* --==< Nav end >==-- */
    .about-us-image .ourelect-img1 img {
        width: 435px !important;
        margin: 50px 0 0 40px;
    }
    .ourelect-img2 img {
        width: 220px !important;
        margin: -21% 0px 0 2%;
    }
    .aboutus-body-sec {
        width: 100%;
        height: 100%;
        background: white;
        padding: 29px 10px 10px 25px;
        margin: 4% 0 0 -4%;
    }
    .aboutus-header .aboutus-title {
        font-size: 24px;
        font-weight: 600;
        margin: 2px 0 0px 0;
    }
    .about-us-txt {
        margin: 10px 0 0px 0;
    }
    .about-us-txt .aboutus-para {
        font-size: 15px;
        font-weight: 400;
        color: grey;
        line-height: 1.8 !important;
    }
    .aboutus-list .aboutus-list-item {
        font-size: 15px;
    }
    .about-us-footer {
        margin: 30px 30px 0 30px;
    }
    .ourelect-into-txt {
        margin: 9px 0 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.3 !important;
    }
    .ourelect-into-txt .ourelect-name {
        font-size: 15px;
        font-weight: 500;
    }
    .ourelect-into-txt .ourelect-desig {
        font-size: 11px;
        font-weight: 600;
        color: grey;
    }
    /* Our services */
    .our-services-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 00px;
        text-align: center;
    }
    .our-services-cards {
        margin: 20px 10px 0px 0px !important;
        display: flex !important;
        justify-content: center !important;
    }
    .service-card .card {
        width: 480px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 40px;
        border: none;
    }
    /* Our services End */
    /* --===< service details >===-- */
    .service-banner-title .banner-title {
        font-size: 40px;
        font-weight: 900;
    }
    .induscon-img img {
        width: 505px;
    }
    .induscon-txt-title {
        color: #131D3B;
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
    }
    .indussol-img {
        display: flex;
        justify-content: center;
    }
    .indussol-img img {
        width: 400px;
    }
    .industry-solution .indussol-body {
        margin: 20px 0 0 0px;
    }
    .serviced-accordion {
        margin: 50px 0 30px 0;
    }
    .accordion {
        background-color: transparent;
        color: #444;
        cursor: pointer;
        padding: 25px 20px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, .1);
        text-align: left;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        transition: 0.4s;
        text-transform: capitalize;
    }
    .need-help-para {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.15px;
        line-height: 25px;
        margin: 20px 0 15px 0;
    }
    /* --===< service details end >===-- */
    /* Our Work Proceess */
    .ourwork-header .ourwork-title {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    /* Our Work Proceess End */
    /* --==< Our Advanteages >==-- */
    .our-advntages-header .advantage-title_02 {
        font-size: 28px;
        font-weight: 500;
        padding: 15px 0 10px 0;
    }
    .advantage-cards {
        margin: 0 auto !important;
    }
    .card-main {
        max-width: 300px;
        height: auto;
        background: url(../img/bg/service-app-bg.png) no-repeat center right #fff;
        padding: 30px 20px;
        display: block;
        margin: 0 auto;
    }
    .estimate-card {
        margin-top: 40px;
    }
    .estimate-card .card-txt {
        margin-top: 20px;
    }
    .tt-service-promo .tt-value {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 170px;
        line-height: 46px;
        color: #e0e1e4;
        position: absolute;
        top: 60%;
        left: 47px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1;
    }
    /* --==< Our Advanteages End >==-- */
    /*--==< Contact Us>==-- */
    .contact-us-title .title-02 {
        color: white;
        font-size: 35px;
        font-weight: 700;
        margin: 15px 0 20px;
    }
    .contact-us-btn button {
        font-size: 11px;
        font-weight: 600;
        border-radius: 3px;
        color: #131D3B;
        background: #fff;
        border: none;
        padding: 25px 35px;
    }
    /* --==< Contact Us page >==-- */
    .contact-form-haader .contact-form-title-01 {
        font-size: 14px;
        letter-spacing: 2px;
        margin: 20px 0 5px 0;
    }
    .contact-form-haader .contact-form-title-02 {
        font-size: 40px;
        font-weight: 700;
        margin: 10px 0 5px 0;
    }
    .contact-form input {
        width: 510px !important;
        height: 75px;
        font-size: 16px;
        background: #F2F3F5;
        padding: 20px 25px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 510px !important;
        font-size: 16px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    .contact-form button {
        font-size: 14px;
        font-weight: 500;
        padding: 25px 40px;
        background: #ff4f01;
        color: white;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    .address-icon img,
    .phone-icon img,
    .mail-icon img {
        width: 81px;
    }
    .contact-htr .address-txt,
    .phone-txt,
    .mail-txt {
        padding: 0 0 0 22px;
    }
    /* --==< Contact Us page end >==-- */
    /*--==< Contact Us End>==-- */
    /* --==< Testimonial >==-- */
    .testimonial-title-01 {
        font-size: 14px;
        letter-spacing: 2px;
        color: white;
        margin: 10px 0 5px 0;
    }
    .testimonial-title-02 {
        font-size: 35px;
        font-weight: 800;
        color: white;
        margin: 10px 0 20px;
    }
    .customer-details .detail {
        margin: 0px 15px;
    }
    .customer-details .detail .customer-img img {
        width: 70px;
        border-radius: 50%;
    }
    .customer-txt .customer-name {
        font-size: 13px;
        font-weight: 500;
        padding: 0 0 10px 0;
    }
    .customer-txt .customer-desig {
        font-size: 9px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .slide-txt .slide-para {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
        padding-bottom: 10px;
    }
    .slide-txt .slide-date {
        font-size: 12px;
        font-weight: 600;
        color: #FF4F01;
        letter-spacing: 1px;
    }
    /* --==< Testimonial end >==-- */
    /* Footer */
    .footer-logo img {
        width: 170px;
    }
    .footer-intro-txt .footer-inpara {
        font-size: 14px;
    }
    .quick-link-item a {
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, .8);
    }
    .footer-service-item a {
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, .8);
    }
    .visit-office img,
    .send-email img,
    .phone-enquiry img {
        width: 35px;
    }
    .footer-navbar .nav-link {
        padding: 14px 0px 16px 25px;
    }
    .copyr-txt p {
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .copy-links p {
        font-size: 14px;
        padding: 0 12px !important;
    }
    /* Footer End */
}


/* Media Quries For 540px End */


/* --==< media quries for 414px >==-- */

@media(max-width:414px) {
    /* --==< about us >==-- */
    .about-banner-title .banner-title {
        font-size: 40px;
        font-weight: 900;
    }
    .about-us-image .ourelect-img1 img {
        width: 345px !important;
        margin: 50px 0 0 40px;
    }
    /* --==< about us end >==-- */
    /* --==< our services >==-- */
    .service-banner-title .banner-title {
        font-size: 35px;
        font-weight: 900;
    }
    .service-card .card {
        width: 350px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 40px;
        border: none;
    }
    /* --==< our services end >==-- */
    /* --===< service detail >===-- */
    .induscon-img img {
        width: 375px;
    }
    /* --===< service detail end >===-- */
    /* --==< contact us >==-- */
    .contact-form input {
        width: 385px !important;
        height: 75px;
        font-size: 16px;
        background: #F2F3F5;
        padding: 20px 25px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 385px !important;
        font-size: 16px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    /* --==< contact us end >==-- */
    /* --==< footer >==-- */
    .footer-navbar .nav-link {
        padding: 14px 0px 16px 15px;
    }
    .footer-navbar .nav-link a {
        font-size: 12px;
    }
    /* --==< footer end>==-- */
}


/* --==< media quries for 414px end >==-- */


/* Media Quries For 411px  */

@media(max-width:411px) {
    /* --==< nav >==-- */
    .mobile-navbar {
        padding: 240px 0px 0px 0px;
    }
    #close-btn {
        padding: 6px;
        background-color: #FF4F01;
        border-radius: 5px;
    }
    /* --==< nav end >==-- */
    .about-us-image .ourelect-img1 img {
        width: 340px !important;
        margin: 45px 0 0 38px;
    }
    .ourelect-img2 img {
        width: 210px !important;
        margin: -30% 0px 0 0%;
    }
    .aboutus-footer {
        display: block;
    }
    .our-elect-sign {
        border-left: none;
    }
    .about-us-footer {
        margin: 30px 10px 0 0px;
    }
    /*--===< Our Services >===--*/
    .service-card .card {
        width: 370px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 40px;
        border: none;
    }
    /*--===< Our Services End >===--*/
    /* --===< service details  >===-- */
    .service-banner-path .path-txt {
        font-size: 12px;
        font-weight: 500;
        align-items: center;
        padding: 10px 20px;
        background: rgba(128, 128, 128, .6);
    }
    .service-banner-title .banner-title {
        font-size: 35px;
        font-weight: 900;
    }
    .induscon-img img {
        width: 375px;
    }
    .induscon-txt-title {
        color: #131D3B;
        font-size: 30px;
        font-weight: 700;
        line-height: 25px;
    }
    .induscon-txt-para {
        color: #666D81;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin: 20px 0 0 0;
    }
    .indussol-body .indussol-title {
        color: #131D3B;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }
    .indussol-body .indussol-para {
        color: #666D81;
        font-family: "Roboto Condensed", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        margin: 15px 0;
    }
    .indussol-list li {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #666D81;
    }
    .accordion {
        background-color: transparent;
        color: #444;
        cursor: pointer;
        padding: 25px 20px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, .1);
        text-align: left;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        transition: 0.4s;
        text-transform: capitalize;
        line-height: 25px;
    }
    .need-help-con h2 {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-left: 15px;
    }
    /* --===< service details end >===-- */
    /*--===< Our Work >===--*/
    .ourwork-header .ourwork-title {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }
    /* Our Work End */
    /* --==< Contact Us >=== */
    .contact-us-title .title-01 {
        font-size: 10px;
        color: white;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .contact-us-title .title-02 {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0 20px;
    }
    .contact-us-btn button {
        font-size: 9px;
        font-weight: 600;
        border-radius: 3px;
        color: #131D3B;
        background: #fff;
        border: none;
        padding: 16px 20px;
    }
    /* --==< Contact Us page  >==-- */
    .contact-form input {
        width: 375px !important;
        height: 75px;
        font-size: 16px;
        background: #F2F3F5;
        padding: 20px 25px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 375px !important;
        height: 200px;
        font-size: 16px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    .address-icon img,
    .phone-icon img,
    .mail-icon img {
        width: 60px;
    }
    /* --==< Contact Us page end >==-- */
    /* --==< Contact Us End >=== */
    /* --==< About Banner >==-- */
    .about-banner-title .banner-title {
        font-size: 40px;
        font-weight: 900;
    }
    /* --==< About Banner End >==-- */
    /* Footer */
    .footer-navbar .nav-link {
        padding: 14px 0px 15px 7px;
    }
    .copyr-footer {
        width: 100%;
        border-top: 1px solid grey;
        padding: 30px 10px;
    }
    .footer-nav-btn button {
        width: 144px;
        padding: 10px 0px;
        background: #FF4F01;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
    /* Footer End */
}


/* Media Quries For 411px End */


/* --==< media quries for 375px >==-- */

@media(max-width:375px) {
    /* --==< about us >==-- */
    /* --==< banner >==-- */
    .about-banner-title .banner-title {
        font-size: 35px;
        font-weight: 900;
    }
    /* --==< banner end >==-- */
    .about-us-image .ourelect-img1 img {
        width: 310px !important;
        margin: 40px 0 0px 35px;
    }
    .ourelect-img2 img {
        width: 170px !important;
        margin: -24% 0px 0 3%;
    }
    .about-us-lists .aboutus-list {
        list-style: none;
        margin: 15px 0 30px 25px;
        line-height: 2;
    }
    .ourelect-into-txt {
        margin: 9px 0 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
    }
    .ourelect-into-txt .ourelect-name {
        font-size: 12px;
        font-weight: 600;
    }
    /* --==< about us end >==-- */
    /* --==< our services >==-- */
    /* banner */
    .service-banner-title .banner-title {
        font-size: 35px;
        font-weight: 900;
    }
    .service-banner-path .path-txt {
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        padding: 12px 20px;
        background: rgba(128, 128, 128, .6);
    }
    /* banner end */
    .service-card .card {
        width: 310px !important;
        text-align: center;
        padding: 20px 15px 30px 15px;
        margin-bottom: 40px;
        border: none;
    }
    /* --==< our services end >==-- */
    /* --===< service detail >===-- */
    .service-det-container {
        padding: 50px 10px !important;
    }
    .induscon-img img {
        width: 340px;
    }
    .indussol-img img {
        width: 340px;
    }
    /* --===< service detail end >===-- */
    /* --==< contact us >==-- */
    .contact-us-title .title-02 {
        color: white;
        font-size: 25px;
        font-weight: 700;
        margin: 15px 0 15px 0;
    }
    .contact-form-haader .contact-form-title-02 {
        font-size: 35px;
        font-weight: 700;
        margin: 10px 0 5px 0;
    }
    .contact-form input {
        width: 340px !important;
        height: 75px;
        font-size: 16px;
        background: #F2F3F5;
        padding: 20px 25px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 335px !important;
        font-size: 16px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    /* --==< contact us end >==-- */
    /* footer */
    .footer-navbar .nav-link {
        padding: 14px 0px 16px 7px;
    }
    .footer-navbar .nav-link a {
        font-size: 12px;
    }
    .footer-nav-btn button {
        width: 163px;
        padding: 15px 10px;
        background: #FF4F01;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
    .copyr-footer {
        width: 100%;
        border-top: 1px solid grey;
        padding: 15px 0px;
    }
    .copyr-txt p {
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
    .copy-links {
        margin-top: 10px;
    }
    .copy-links p {
        font-size: 12px;
        padding: 0 12px !important;
    }
    /* footer end */
}


/* --==< media quries for 375px end >==-- */


/* Media Quries For 360px  */

@media(max-width:360px) {
    /* --==< nav  >==-- */
    .mobile-navbar {
        padding: 150px 0px 0px 0px;
    }
    /* --==< nav end >==-- */
    .about-us-image .ourelect-img1 img {
        width: 293px;
        margin: 32px 0 0 38px;
    }
    .ourelect-img2 img {
        width: 160px;
        margin: -28% 0 0 4%;
    }
    .aboutus-body-sec {
        width: 100%;
        height: 100%;
        background: white;
        padding: 15px 0px 10px 15px;
        margin: 4% 0 0 -4%;
    }
    .aboutus-header .aboutus-title {
        font-size: 20px;
        font-weight: 600;
        margin: 2px 0 0px 0;
    }
    .about-us-txt .aboutus-para {
        font-size: 14px;
        font-weight: 400;
        color: grey;
        line-height: 1.6;
    }
    .aboutus-list .aboutus-list-item {
        font-size: 12px;
    }
    .aboutus-list .aboutus-list-item i {
        font-size: 10px;
        color: #FF4F01;
        margin-left: -30px;
        padding-right: 5px;
    }
    .ourelect-into-txt .ourelect-name {
        font-size: 12px;
        font-weight: 500;
    }
    .ourelect-into-txt .ourelect-desig {
        font-size: 8px;
        font-weight: 600;
        color: grey;
    }
    .our-elect-sign img {
        width: 71px;
        margin: 20px 0 0px 0;
        margin-left: 10px;
    }
    /* Our Services */
    .service-banner-title .banner-title {
        font-size: 30px;
        font-weight: 900;
    }
    .service-banner-path .path-txt {
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        padding: 10px 20px;
        background: rgba(128, 128, 128, .6);
    }
    .service-card .card {
        width: 300px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 22px;
        border: none;
    }
    /* Our Services End */
    /* --===< service details >===-- */
    .service-det-container {
        padding: 50px 15px !important;
    }
    .induscon-txt-title {
        color: #131D3B;
        font-size: 26px;
        font-weight: 700;
        line-height: 15px;
    }
    .indussol-body .indussol-title {
        color: #131D3B;
        font-size: 26px;
        font-weight: 700;
        line-height: 25px;
    }
    .induscon-img img {
        width: 320px;
    }
    .induscon-img .indus-icon img {
        width: 50px !important;
        background: white;
        padding: 15px 10px;
        border-radius: 5px;
    }
    .indussol-img img {
        width: 320px;
    }
    .accordion {
        background-color: transparent;
        color: #444;
        cursor: pointer;
        padding: 20px 15px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, .1);
        text-align: left;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        transition: 0.4s;
        text-transform: capitalize;
        line-height: 20px;
    }
    .pannel-txt p {
        font-size: 15px;
        font-weight: 500;
        color: #666D81;
    }
    .need-help {
        max-width: 100%;
        background: #131D3B;
        padding: 30px 30px;
        color: white;
        border-radius: 6px;
    }
    .service_dr-btn .btn {
        max-width: 100% !important;
        font-size: 15px;
        font-weight: 600;
        background: #FF4F01;
        color: white;
        text-align: center;
        border-radius: 5px;
    }
    /* --===< service details end >===-- */
    /* --==< About  >==-- */
    .about-us-image .ourelect-img1 img {
        width: 250px !important;
        margin: 32px 0 0 38px;
    }
    .ourelect-img2 img {
        width: 150px !important;
        margin: -28% 0 0 4%;
    }
    .about-banner-path .path-txt {
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        padding: 10px 20px;
        background: rgba(128, 128, 128, .6);
    }
    .about-banner-title .banner-title {
        font-size: 30px;
        font-weight: 900;
    }
    .about-us-lists .aboutus-list {
        list-style: none;
        margin: 10px 0 30px 25px;
        line-height: 2;
    }
    .ourelect-into-txt {
        margin: 9px 0 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
    }
    /* --==< About End >==-- */
    /* --==< Our work >==-- */
    #ourwork-process .box h1 div {
        font-size: 29px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        right: 0;
        background: #fff;
        color: #000;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        line-height: 60px;
        text-align: center;
        -webkit-text-fill-color: initial;
        -webkit-text-stroke-width: initial;
    }
    #ourwork-process .box h1 div img {
        width: 50px;
    }
    /* --==< Our work end >==-- */
    /* -==< Contact Us >==- */
    .contact-us-title .title-01 {
        font-size: 10px;
        color: white;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .contact-us-title .title-02 {
        color: white;
        font-size: 22px;
        font-weight: 700;
        margin: 15px 0 20px;
    }
    .contact-us-btn button {
        font-size: 8px;
        font-weight: 600;
        border-radius: 3px;
        color: #131D3B;
        background: #fff;
        border: none;
        padding: 15px 20px;
    }
    /* --==< Contact us page >==-- */
    /* --==< contact banner >==-- */
    .contact-banner-path .path-txt {
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        padding: 10px 15px;
        background: rgba(128, 128, 128, .6);
    }
    .contact-banner-title .banner-title {
        font-size: 40px;
        font-weight: 900;
    }
    /* --==< contact banner end >==-- */
    .contact-form-haader .contact-form-title-02 {
        font-size: 35px;
        font-weight: 700;
        margin: 10px 0 5px 0;
    }
    .contact-form input {
        width: 330px !important;
        height: 65px;
        font-size: 14px;
        background: #F2F3F5;
        padding: 20px 15px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 330px !important;
        height: 170px;
        font-size: 14px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    .contact-htr {
        width: 100%;
        height: auto;
        background: #F9F9F9;
        padding: 5px 0px 5px 0px;
    }
    .address-icon img,
    .phone-icon img,
    .mail-icon img {
        width: 40px;
    }
    .contact-htr .address-txt,
    .phone-txt,
    .mail-txt {
        padding: 0 0 0 15px;
    }
    .address-txt .address-para,
    .mail-txt .mail-para,
    .phone-txt .phone-para {
        font-size: 14px;
        font-weight: 500;
        color: #666666;
        line-height: 1.4;
        margin-top: 5px;
    }
    .htr-social-icon {
        padding: 30px 0px;
    }
    .htr-social-icon i {
        font-size: 15px;
        padding: 0px 10px;
    }
    /* --==< Contact us page end >==-- */
    /* -==< Contact Us End >==- */
    /* --==< Advantage >==-- */
    .advantage-cards {
        display: flex;
        justify-content: center;
        padding: 40px 0 0 0;
    }
    /* --==< Advantage End >==-- */
    /* --==< testimonial >==-- */
    .testimonial-title-02 {
        font-size: 30px;
        font-weight: 800;
        color: white;
        margin: 5px 0 0px;
    }
    .customer-details .detail .customer-icon {
        font-size: 35px;
        position: absolute;
        top: 45px;
        left: 50px;
        background: #FF4F01;
        color: white;
        max-width: 30px;
        height: 30px;
        padding: 5px 10px;
        border-radius: 50%;
    }
    .ourelect-into-txt {
        margin: 9px 0 0 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.2;
    }
    /* --==< testimonial end >==-- */
    /* footer  */
    .quick-links {
        margin: 0 0 30px 20px;
    }
    .footer-service-links {
        margin: 0 0 30px 20px;
    }
    .visit-office img,
    .send-email img,
    .phone-enquiry img {
        width: 30px;
    }
    .visit-txt,
    .email-txt,
    .phone-txt {
        padding: 5px 0 8px 15px;
        line-height: 1.8;
    }
    .visit-txt .visit-title {
        font-size: 12px;
    }
    .visit-txt .visit-add {
        font-size: 12px;
    }
    .email-txt .email-title {
        font-size: 12px;
    }
    .email-txt .eamil-id {
        font-size: 12px;
    }
    .phone-txt .phone-title {
        font-size: 12px;
    }
    .phone-txt .phone-no {
        font-size: 12px;
    }
    .quick-link-item i {
        padding-right: 3px;
    }
    .footer-service-item i {
        padding-right: 3px;
    }
    .footer-navbar .nav-link {
        padding: 12px 5px 14px 5px;
    }
    .footer-navbar .nav-link a {
        font-size: 10px;
    }
    .footer-nav-btn button {
        width: 105px;
        padding: 10px 0px;
        background: #FF4F01;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
    .footer-nav-btn button span {
        font-size: 10px;
        font-weight: 500;
        color: white;
        padding-right: 10px;
    }
    .footer-nav-btn button i {
        font-size: 10px;
        padding: 0 10px;
        border-left: 1px solid white;
    }
    .copyr-footer {
        width: 100%;
        border-top: 1px solid grey;
        padding: 25px 0px;
    }
    .copyr-txt {
        margin-bottom: 10px;
    }
    .copyr-txt p {
        font-size: 10px;
        font-weight: 400;
        color: white;
    }
    .copy-links p {
        font-size: 10px;
        padding: 0 12px !important;
    }
    /* footer End */
}


/* Media Quries For 360px End */


/* --==< media quries for 320px  >==-- */

@media(max-width:320px) {
    /* --==< our services >==-- */
    .service-card .card {
        width: 00px !important;
        text-align: center;
        padding: 32px 15px;
        margin-bottom: 22px;
        border: none;
    }
    /* --==< our services end>==-- */
    /* --===< service details >===-- */
    .service-banner-title .banner-title {
        font-size: 26px;
        font-weight: 900;
    }
    .induscon-img img {
        width: 290px;
    }
    .indussol-img img {
        width: 290px;
    }
    /* --===< service details end >===-- */
    /* --==< contact us >==-- */
    .contact-form input {
        width: 290px !important;
        height: 65px;
        font-size: 14px;
        background: #F2F3F5;
        padding: 20px 15px;
        border: none;
        margin: 5px 5px 5px 0;
        border-radius: 4px;
    }
    .contact-form textarea {
        width: 290px !important;
        height: 170px;
        font-size: 14px;
        padding: 15px 15px;
        background: #F2F3F5;
        border: none;
        border-radius: 4px;
        margin: 10px 0 0 0;
    }
    /* --==< contact us end >==-- */
}


/* --==< media quries for 320px end >==-- */